DATABASE_URL=postgresql://user:password@localhost:5432/task_management
JWT_SECRET=your_jwt_secret_key_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here
PORT=3000
NODE_ENV=development


FRONTEND_URL="https://task-management-system-5898.vercel.app"